$neat-grid: (
        columns: 12,
        gutter: 20px,
);

$max-width: 1290px;
$min-width: 320px;
//
$xsmall-breakpoint-value: 480px;
$small-breakpoint-value: 768px;
$medium-breakpoint-value: 1024px;
$large-breakpoint-value: 1290px;
//
//$xsmall-viewport: new-breakpoint(max-width $xsmall-breakpoint-value); 
//$small-viewport: new-breakpoint(min-width $xsmall-breakpoint-value + 1 max-width $small-breakpoint-value);
//$medium-viewport: new-breakpoint(min-width $small-breakpoint-value + 1 max-width $medium-breakpoint-value);
//$large-viewport: new-breakpoint(min-width $medium-breakpoint-value + 1 max-width $large-breakpoint-value); 
//$xlarge-viewport: new-breakpoint(min-width $large-breakpoint-value + 1); 

